{% extends "base_generic.html" %}

{% block content %}
<h1>Interest Page</h1>

<div class="jumbotron">
    <a style="float:right;" href="{% url 'edit_basic' user.pk %}" class="btn btn-outline-primary">Edit</a>
    <p>username : {{ userobj.username }}</p>
    <p>name : {{ basic.name }}</p>
    <p>age : {{ basic.age }}</p>
    <p>region id : {{ basic.region_id }}</p>
    <p>location : {{ basic.location }}</p>
    <p>holiday_tp_nm : {{ basic.holiday_tp_nm }}</p>
    <p>min_sal : {{ basic.min_sal }}</p>
</div>


<div class="jumbotron">
    {% if userspecexists %}
    <a style="float:right;" href="{% url 'edit_edu' user.pk %}" class="btn btn-outline-primary">Edit</a>
    {% else %}
    <a style="float:right;" href="{% url 'add_edu' user.pk %}" class="btn btn-outline-primary">Add</a>
    {% endif %}
    <p><u>edu level</u></p> 
    {{ edu }}
</div>

{% if userspecexists %}
<div class="jumbotron">
    {% if usercarexists %}
    <a style="float:right;" href="{% url 'edit_career' user.pk %}" class="btn btn-outline-primary">Edit</a>
    {% else %}
    <a style="float:right;" href="{% url 'add_career' user.pk %}" class="btn btn-outline-primary">Add</a>
    {% endif %}
    <p><u>career</u></p>
    {{ career }}
</div>

<div class="jumbotron">
    <a style="float:right;" href="#" class="btn btn-outline-primary">Edit</a>
    <p><u>License</u></p> 
    {% for ex in license %}
        <p>{{ ex }}</p>
    {% endfor %}
</div>
{% endif %}


{% endblock %}
