{% extends "base_generic.html" %}

{% block style %}
{% load static %}

<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<link href="//netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//netdna.bootstrapcdn.com/bootstrap/3.0.3/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<!--Custom styles-->
<link href="{% static 'recom/job_list.css' %}" rel="stylesheet">
{% endblock %}

{% block content %}
<h1>나에게 딱인 채용 공고</h1>

<div class="container">
	<div class="row">
        {% for job in list %}
        <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
        {% if job.3 == "학력무관" %}
			<div class="offer offer-radius offer-success">
        {% elif job.3 == "초졸이하" or job.3 == "중졸" or job.3 == "고졸" %}
            <div class="offer offer-default">
        {% elif job.3 == "대졸(2~3년)" %}
            <div class="offer offer-radius offer-primary">
        {% elif job.3 == "대졸(4년)" %}
            <div class="offer offer-info">
        {% elif job.3 == "석사" %}
            <div class="offer offer-warning">
        {% else %}
            <div class="offer offer-radius offer-danger">
        {% endif %}
				<div class="shape">
					<div class="shape-text">
						{{ job.3 }}
					</div>
				</div>
				<div class="offer-content">
					<h3 class="lead">
						<a href="{% url 'job_detail' job.4 %}">{{ job.1 }}</a>
					</h3>
					<p>
						{{ job.0 }}
					</p>
				</div>
			</div>
		</div>
        {% endfor %}
	</div>
</div>


<!-- Paginator -->
{% if list.has_other_pages %}
  <ul class="pagination">
    {% if list.has_previous %}
      <li><a href="?page={{ list.previous_page_number }}">&laquo;</a></li>
    {% else %}
      <li class="disabled"><span>&laquo;</span></li>
    {% endif %}
    {% for i in list.paginator.page_range %}
      {% if list.number == i %}
        <li class="active"><span>{{ i }} <span class="sr-only">(current)</span></span></li>
      {% else %}
        <li><a href="?page={{ i }}">{{ i }}</a></li>
      {% endif %}
    {% endfor %}
    {% if list.has_next %}
      <li><a href="?page={{ list.next_page_number }}">&raquo;</a></li>
    {% else %}
      <li class="disabled"><span>&raquo;</span></li>
    {% endif %}
  </ul>
{% endif %}

{% endblock %}
